*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #d2d4c9;
  height: 100vh;
  width: 100vw;
  position: relative;
}
header{
  width: 100vw;
  height: 100px;
  background-color: #398675;
}
.container{
  width: 90%;
  height: 90%;
  background-color: white;
  position: fixed;
  left: 5%;
  top:5%;
  z-index: 10;
}
.lefty{
  width: 35%;
  height: 100%;
  background-color: #eaeaea;
  float: left;
  border-right: 1px outset #fafafa;

}
.lefthead{
  width: 100%;
  height: 10%;
  background-color: #eaeaea;
  /* border-right: 1px groove #eaeaea; */
  display: flex;
  justify-content: space-between;
}
.leftyframe{
  width: 50px;
  height: 50px;
  border: 1px solid #fafafa;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 6px;
  display: flex;
  background-color: #fafafa;

}
.lefticons i{
  line-height: 51.75px;
  padding-right: 10px;
}


.leftyframe img{
  height: 70%;
  margin:  auto;

}
.leftyframe img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
i:hover{
  transform: scale(1.2);
  cursor: pointer;
}
i{
  color: #b1b1b1;
}
.newmsg{
  width: 100%;
  height: 10%;
  background-color: #8edafa;
  display: flex;
}
.news p{
  color: white;
  line-height: 67.75px;
  margin-left: 20px;
  font-size: 14px;
  width: 270px;
  height: 61px;
}
.bellframe{
  width: 50px;
  height: 50px;
  border: 1px solid #8edafa;
  border-radius: 50%;
  margin-left: 10px;
  /* padding-top: 10px; */
  display: flex;
  justify-content: center;
  margin-top: 7px;
  background-color: white;
  line-height: 50%;
}
.bellframe i{
  font-size: 21px;
  line-height: 54px;
  color:#8edafa;
  display: flex;
  justify-content: center;
}
.searchy{
  width: 100%;
  height: 8%;
  display: flex;
  background-color:#fafafa;
  /* border: 1px outset #eaeaea; */
}
#lens{
  margin: 0 auto;
  width: 98%;
  height: 90%;
  margin-top: 3px;
  box-shadow: -3px -3px 21px -15px rgba(15,18,20,0.96);
  font-size: 16px;

}
.people{
  width: 100%;
  height: 72%;
  overflow-y: scroll;
  background-color: #fafafa;

}
.user.active{
  display: inline-block;
  background-color: lightgrey;
}
.user:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.user{
  width: 100%;
  height: 15%;
  background-color: white;
  display: flex;
align-items: center;
  /* border: 1px outset #fafafa; */
  /* -webkit-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75);
box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75); */

}


.frame{
  width: 50px;
  height: 50px;
  border: 1px solid #fafafa;
  border-radius: 50%;
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  background-color: #fafafa;
  float: left;
}
.user img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.user img{
  height: 70%;
  margin:  auto;
}
.iq{
  float: left;
}
.iq p{
  margin-left: 5px;
}
.righty{
  width: 65%;
  height: 100%;
  background-color:#e5dcd5;
  float: left;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.righthead{
  width: 100%;
  height: 10%;
  background-color: #eaeaea;
  border-left: 1px groove #eaeaea;display: flex;
  justify-content: space-between;
}
.rightyframe{
  width: 50px;
  height: 50px;
  border: 1px solid #fafafa;
  border-radius: 50%;
  margin-top: 6px;
  display: flex;
  background-color: #fafafa;
  margin-left: 10px;

}
.righticons i{
  line-height: 51.75px;
  padding-right: 10px;
}
.rightyframe img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.rightyframe img{
  height: 70%;
  margin:  auto;

}
.rightext{
  display: flex;
  justify-content: space-between;
}
.rightext p {
  display:block;
  line-height: 57.75px;
  color: black;
  margin-left: 14px;

}
.rightext span {
  display:inline;
  line-height: 58.75px;
  color: #b1b1b1;
  /* margin-left: 20px; */
  font-size: 10px;

}
.footyright{
  background-color: white;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content:

}
.footyright i{
  font-size: 25px;
  margin-left: 30px;
  line-height: 67px;
}
.footleft{
  width: 10%;
}
.footcenter{
  width: 80%;
}
.footright{
  width: 10%;
}
.footright i{
  margin-right: 90px;
}
.write{
  width: 96%;
  height: 90%;
  margin: 0 auto;
  margin-top: 4px;
  font-size: 16px;
  border-left: 0;

}
.mess{
  width: 100%;
  height: 100%;
}
.right-mess{
  background-color:#d2d4c9;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn-www.bluestacks.com/bs-images/whatsapp_banner.jpg);
  background-repeat: repeat-x;
  opacity: 70%;
  overflow-y: scroll;
  display: none;

}
/* .right-mess{
  width: 250px;
  background-color: white;
  margin: 30px;
  float: left;
  clear: both;
  height: 100px;
  display:none;
  border-radius: 5%;
} */
/* .right-mess.sent{
  width: 250px;
  background-color: #7fb832;
  margin: 30px;
  float: right;
  clear: both;
  height: 100px;
  display: none;
} */
.right-mess.active{
  display: block;
}
.righty .right-mess .message.received {
	background: white;
	float:left;
	clear:both;
}
.righty .right-mess .message.sent {
	background: #D5F9BA;
	float: right;
	clear:both;
}
.template{
  display: none;
}
.righty .right-mess .message {
	position: relative;
	margin: 5px 0;
	padding: 5px 15px 20px 15px;
	min-width: 20%;
	max-width: 60%;
	background: #fff;
	border-radius: 10px;
	font-size: 15px;
}
.righty .right-mess .message::after {
	content: '';
	display: table;
	overflow: hidden;
	clear: both;
}
.righty .right-mess .message .message-time {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 10px;
	color: #B6B9BB;
}
.message-options i{
  display: none;
}
.message-options-panel{
  display: none;
  position: absolute;
	bottom: -75px;
	width: 150px;
	height: 80px;
	background: white;
}
.righty .right-mess .message .message-options-panel.active {
	display: block;
}
.message i{
  display: none;
}
.righty .right-mess .message:hover .message-options, .righty .right-mess .message .message-options.active {
	display: block;
}
.righty .right-mess .message .message-options {
	display: none;
	color: #B6B9BB;
	cursor: pointer;
}
